<h1>Things I've Heard People Say <img src="talkinghead.jpg"></h1>

<article class="input">
  <form action="/insert" method="post" accept-charset="utf-8">
    <input type="text/plain" name="author" placeholder="author">
    <input type="text/plain" name="source" placeholder="source/book title">
    <input type="text/plain" name="quote" placeholder="quote">
    <button id="submit">Submit</button>
    <button id="search">Search</button>
  </form>
</article>

<article class="faves">
  {{#each quotes}}
    <div id="quotebox">
      <div id="quotebar">
        <img src="edit-button.png">
      </div>
      <div id="quoteID">
        <span>{{author}}</span> from <span>"{{source}}":</span>
      </div>
      <div id="quoteText">
        {{quote}}
      </div>
    </div>
  {{/each}}
</article>
